[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pyjwt = "*"
flask-sqlalchemy = "*"
bcrypt = "*"
marshmallow = "*"
flask-cors = "*"
psycopg2-binary = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.13"
